<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>C</key>
      <integer>-14</integer>
      <key>G</key>
      <integer>-14</integer>
      <key>O</key>
      <integer>-14</integer>
      <key>Q</key>
      <integer>-14</integer>
      <key>T</key>
      <integer>-52</integer>
      <key>V</key>
      <integer>-52</integer>
      <key>W</key>
      <integer>-52</integer>
      <key>Y</key>
      <integer>-52</integer>
      <key>uni0404</key>
      <integer>-14</integer>
      <key>uni041E</key>
      <integer>-14</integer>
      <key>uni0421</key>
      <integer>-14</integer>
      <key>uni0422</key>
      <integer>-52</integer>
      <key>uni0423</key>
      <integer>-52</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>A</key>
      <integer>-14</integer>
      <key>uni0410</key>
      <integer>-14</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>a</key>
      <integer>-34</integer>
      <key>e</key>
      <integer>-34</integer>
      <key>o</key>
      <integer>-34</integer>
      <key>uni0410</key>
      <integer>-40</integer>
      <key>uni0414</key>
      <integer>-40</integer>
      <key>uni041B</key>
      <integer>-40</integer>
      <key>uni0430</key>
      <integer>-34</integer>
      <key>uni0435</key>
      <integer>-34</integer>
      <key>uni043E</key>
      <integer>-34</integer>
      <key>uni0454</key>
      <integer>-34</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-50</integer>
      <key>V</key>
      <integer>-50</integer>
      <key>W</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-50</integer>
      <key>uni0422</key>
      <integer>-50</integer>
      <key>uni0423</key>
      <integer>-50</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>A</key>
      <integer>-14</integer>
      <key>uni0410</key>
      <integer>-14</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>a</key>
      <integer>-34</integer>
      <key>e</key>
      <integer>-34</integer>
      <key>o</key>
      <integer>-34</integer>
      <key>uni0410</key>
      <integer>-40</integer>
      <key>uni0414</key>
      <integer>-40</integer>
      <key>uni041B</key>
      <integer>-40</integer>
      <key>uni0430</key>
      <integer>-34</integer>
      <key>uni0435</key>
      <integer>-34</integer>
      <key>uni043E</key>
      <integer>-34</integer>
      <key>uni0454</key>
      <integer>-34</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>A</key>
      <integer>-14</integer>
      <key>uni0410</key>
      <integer>-14</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-52</integer>
      <key>a</key>
      <integer>-54</integer>
      <key>e</key>
      <integer>-54</integer>
      <key>o</key>
      <integer>-54</integer>
      <key>r</key>
      <integer>-54</integer>
      <key>s</key>
      <integer>-54</integer>
      <key>uni002C</key>
      <integer>-54</integer>
      <key>uni002E</key>
      <integer>-54</integer>
      <key>uni0410</key>
      <integer>-52</integer>
      <key>uni0430</key>
      <integer>-54</integer>
      <key>uni0434</key>
      <integer>-54</integer>
      <key>uni0435</key>
      <integer>-54</integer>
      <key>uni043B</key>
      <integer>-54</integer>
      <key>uni043E</key>
      <integer>-54</integer>
      <key>uni0441</key>
      <integer>-54</integer>
      <key>uni0443</key>
      <integer>-54</integer>
      <key>uni0454</key>
      <integer>-54</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-52</integer>
      <key>a</key>
      <integer>-43</integer>
      <key>e</key>
      <integer>-43</integer>
      <key>o</key>
      <integer>-43</integer>
      <key>s</key>
      <integer>-43</integer>
      <key>uni002C</key>
      <integer>-54</integer>
      <key>uni002E</key>
      <integer>-54</integer>
      <key>uni0410</key>
      <integer>-52</integer>
      <key>uni0430</key>
      <integer>-43</integer>
      <key>uni0435</key>
      <integer>-43</integer>
      <key>uni043E</key>
      <integer>-43</integer>
      <key>uni0441</key>
      <integer>-43</integer>
      <key>uni0454</key>
      <integer>-43</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-52</integer>
      <key>a</key>
      <integer>-43</integer>
      <key>e</key>
      <integer>-43</integer>
      <key>o</key>
      <integer>-43</integer>
      <key>s</key>
      <integer>-43</integer>
      <key>uni002C</key>
      <integer>-54</integer>
      <key>uni002E</key>
      <integer>-54</integer>
      <key>uni0410</key>
      <integer>-52</integer>
      <key>uni0430</key>
      <integer>-43</integer>
      <key>uni0435</key>
      <integer>-43</integer>
      <key>uni043E</key>
      <integer>-43</integer>
      <key>uni0441</key>
      <integer>-43</integer>
      <key>uni0454</key>
      <integer>-43</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-52</integer>
      <key>a</key>
      <integer>-43</integer>
      <key>e</key>
      <integer>-43</integer>
      <key>o</key>
      <integer>-43</integer>
      <key>s</key>
      <integer>-43</integer>
      <key>uni002C</key>
      <integer>-54</integer>
      <key>uni002E</key>
      <integer>-54</integer>
      <key>uni0410</key>
      <integer>-52</integer>
      <key>uni0430</key>
      <integer>-43</integer>
      <key>uni0435</key>
      <integer>-43</integer>
      <key>uni043E</key>
      <integer>-43</integer>
      <key>uni0441</key>
      <integer>-43</integer>
      <key>uni0454</key>
      <integer>-43</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>uni0443</key>
      <integer>-9</integer>
      <key>v</key>
      <integer>-9</integer>
      <key>w</key>
      <integer>-9</integer>
      <key>y</key>
      <integer>-9</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>l</key>
      <integer>-8</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>m</key>
      <integer>-8</integer>
      <key>uni0443</key>
      <integer>-9</integer>
      <key>v</key>
      <integer>-9</integer>
      <key>w</key>
      <integer>-9</integer>
      <key>y</key>
      <integer>-9</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>i</key>
      <integer>-8</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>b</key>
      <integer>-8</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>e</key>
      <integer>-8</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>uni0443</key>
      <integer>-9</integer>
      <key>v</key>
      <integer>-9</integer>
      <key>w</key>
      <integer>-9</integer>
      <key>y</key>
      <integer>-9</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>a</key>
      <integer>-14</integer>
      <key>e</key>
      <integer>-14</integer>
      <key>o</key>
      <integer>-14</integer>
      <key>uni002C</key>
      <integer>-40</integer>
      <key>uni002E</key>
      <integer>-40</integer>
      <key>uni0430</key>
      <integer>-14</integer>
      <key>uni0435</key>
      <integer>-14</integer>
      <key>uni043E</key>
      <integer>-14</integer>
      <key>uni0454</key>
      <integer>-14</integer>
    </dict>
    <key>uni0410</key>
    <dict>
      <key>C</key>
      <integer>-14</integer>
      <key>G</key>
      <integer>-14</integer>
      <key>O</key>
      <integer>-14</integer>
      <key>Q</key>
      <integer>-14</integer>
      <key>T</key>
      <integer>-52</integer>
      <key>V</key>
      <integer>-52</integer>
      <key>W</key>
      <integer>-52</integer>
      <key>Y</key>
      <integer>-52</integer>
      <key>uni0404</key>
      <integer>-14</integer>
      <key>uni041E</key>
      <integer>-14</integer>
      <key>uni0421</key>
      <integer>-14</integer>
      <key>uni0422</key>
      <integer>-52</integer>
      <key>uni0423</key>
      <integer>-52</integer>
    </dict>
    <key>uni0413</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>a</key>
      <integer>-34</integer>
      <key>e</key>
      <integer>-34</integer>
      <key>o</key>
      <integer>-34</integer>
      <key>uni0410</key>
      <integer>-40</integer>
      <key>uni0414</key>
      <integer>-40</integer>
      <key>uni041B</key>
      <integer>-40</integer>
      <key>uni0430</key>
      <integer>-34</integer>
      <key>uni0435</key>
      <integer>-34</integer>
      <key>uni043E</key>
      <integer>-34</integer>
      <key>uni0454</key>
      <integer>-34</integer>
    </dict>
    <key>uni041B</key>
    <dict>
      <key>T</key>
      <integer>-50</integer>
      <key>V</key>
      <integer>-50</integer>
      <key>W</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-50</integer>
      <key>uni0422</key>
      <integer>-50</integer>
      <key>uni0423</key>
      <integer>-50</integer>
    </dict>
    <key>uni041E</key>
    <dict>
      <key>A</key>
      <integer>-14</integer>
      <key>uni0410</key>
      <integer>-14</integer>
    </dict>
    <key>uni0420</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>a</key>
      <integer>-34</integer>
      <key>e</key>
      <integer>-34</integer>
      <key>o</key>
      <integer>-34</integer>
      <key>uni0410</key>
      <integer>-40</integer>
      <key>uni0414</key>
      <integer>-40</integer>
      <key>uni041B</key>
      <integer>-40</integer>
      <key>uni0430</key>
      <integer>-34</integer>
      <key>uni0435</key>
      <integer>-34</integer>
      <key>uni043E</key>
      <integer>-34</integer>
      <key>uni0454</key>
      <integer>-34</integer>
    </dict>
    <key>uni0421</key>
    <dict>
      <key>A</key>
      <integer>-14</integer>
      <key>uni0410</key>
      <integer>-14</integer>
    </dict>
    <key>uni0422</key>
    <dict>
      <key>A</key>
      <integer>-52</integer>
      <key>a</key>
      <integer>-54</integer>
      <key>e</key>
      <integer>-54</integer>
      <key>o</key>
      <integer>-54</integer>
      <key>r</key>
      <integer>-54</integer>
      <key>s</key>
      <integer>-54</integer>
      <key>uni002C</key>
      <integer>-54</integer>
      <key>uni002E</key>
      <integer>-54</integer>
      <key>uni0410</key>
      <integer>-52</integer>
      <key>uni0430</key>
      <integer>-54</integer>
      <key>uni0434</key>
      <integer>-54</integer>
      <key>uni0435</key>
      <integer>-54</integer>
      <key>uni043B</key>
      <integer>-54</integer>
      <key>uni043E</key>
      <integer>-54</integer>
      <key>uni0441</key>
      <integer>-54</integer>
      <key>uni0443</key>
      <integer>-54</integer>
      <key>uni0454</key>
      <integer>-54</integer>
    </dict>
    <key>uni0423</key>
    <dict>
      <key>A</key>
      <integer>-52</integer>
      <key>a</key>
      <integer>-43</integer>
      <key>e</key>
      <integer>-43</integer>
      <key>o</key>
      <integer>-43</integer>
      <key>s</key>
      <integer>-43</integer>
      <key>uni002C</key>
      <integer>-54</integer>
      <key>uni002E</key>
      <integer>-54</integer>
      <key>uni0410</key>
      <integer>-52</integer>
      <key>uni0430</key>
      <integer>-43</integer>
      <key>uni0435</key>
      <integer>-43</integer>
      <key>uni043E</key>
      <integer>-43</integer>
      <key>uni0441</key>
      <integer>-43</integer>
      <key>uni0454</key>
      <integer>-43</integer>
    </dict>
    <key>uni0430</key>
    <dict>
      <key>uni0443</key>
      <integer>-9</integer>
      <key>v</key>
      <integer>-9</integer>
      <key>w</key>
      <integer>-9</integer>
      <key>y</key>
      <integer>-9</integer>
    </dict>
    <key>uni0435</key>
    <dict>
      <key>uni0443</key>
      <integer>-9</integer>
      <key>v</key>
      <integer>-9</integer>
      <key>w</key>
      <integer>-9</integer>
      <key>y</key>
      <integer>-9</integer>
    </dict>
    <key>uni043E</key>
    <dict>
      <key>uni0443</key>
      <integer>-9</integer>
      <key>v</key>
      <integer>-9</integer>
      <key>w</key>
      <integer>-9</integer>
      <key>y</key>
      <integer>-9</integer>
    </dict>
    <key>uni0443</key>
    <dict>
      <key>a</key>
      <integer>-9</integer>
      <key>e</key>
      <integer>-9</integer>
      <key>o</key>
      <integer>-9</integer>
      <key>uni002C</key>
      <integer>-40</integer>
      <key>uni002E</key>
      <integer>-40</integer>
      <key>uni0430</key>
      <integer>-9</integer>
      <key>uni0435</key>
      <integer>-9</integer>
      <key>uni043E</key>
      <integer>-9</integer>
      <key>uni0454</key>
      <integer>-9</integer>
    </dict>
    <key>uni0454</key>
    <dict>
      <key>uni0443</key>
      <integer>-9</integer>
      <key>v</key>
      <integer>-9</integer>
      <key>w</key>
      <integer>-9</integer>
      <key>y</key>
      <integer>-9</integer>
    </dict>
    <key>uni0490</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>a</key>
      <integer>-34</integer>
      <key>e</key>
      <integer>-34</integer>
      <key>o</key>
      <integer>-34</integer>
      <key>uni0410</key>
      <integer>-40</integer>
      <key>uni0414</key>
      <integer>-40</integer>
      <key>uni041B</key>
      <integer>-40</integer>
      <key>uni0430</key>
      <integer>-34</integer>
      <key>uni0435</key>
      <integer>-34</integer>
      <key>uni043E</key>
      <integer>-34</integer>
      <key>uni0454</key>
      <integer>-34</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>a</key>
      <integer>-9</integer>
      <key>e</key>
      <integer>-9</integer>
      <key>o</key>
      <integer>-9</integer>
      <key>uni002C</key>
      <integer>-40</integer>
      <key>uni002E</key>
      <integer>-40</integer>
      <key>uni0430</key>
      <integer>-9</integer>
      <key>uni0435</key>
      <integer>-9</integer>
      <key>uni043E</key>
      <integer>-9</integer>
      <key>uni0454</key>
      <integer>-9</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>a</key>
      <integer>-9</integer>
      <key>e</key>
      <integer>-9</integer>
      <key>o</key>
      <integer>-9</integer>
      <key>uni002C</key>
      <integer>-40</integer>
      <key>uni002E</key>
      <integer>-40</integer>
      <key>uni0430</key>
      <integer>-9</integer>
      <key>uni0435</key>
      <integer>-9</integer>
      <key>uni043E</key>
      <integer>-9</integer>
      <key>uni0454</key>
      <integer>-9</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>a</key>
      <integer>-9</integer>
      <key>e</key>
      <integer>-9</integer>
      <key>o</key>
      <integer>-9</integer>
      <key>uni002C</key>
      <integer>-40</integer>
      <key>uni002E</key>
      <integer>-40</integer>
      <key>uni0430</key>
      <integer>-9</integer>
      <key>uni0435</key>
      <integer>-9</integer>
      <key>uni043E</key>
      <integer>-9</integer>
      <key>uni0454</key>
      <integer>-9</integer>
    </dict>
  </dict>
</plist>
